<% content_for :title, "Контакты" %>

<div style="float: right">
  <img src="/images/colobok.png" height="210px">
  <br>
  <br>
</div>

  <p>COLObok</p>
  <p>Nauky Ave, 9</p>
  <p>Kharkiv</p>
  <p>Kharkiv Oblast</p>
  <p>Tel: <a href="tel:+380671111111">(067) 111-1111</a></p>
  <p>Fax: 067-111-1111</p>
  <p>E-mail: <a href="mailto:info@colobok.pp.ua">info@colobok.pp.ua</a></p>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.816199757424!2d36.22313431522761!3d50.014800126540955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a123f16a4335%3A0xb1ff8512082bc347!2sMcDonald&#39;s!5e0!3m2!1sen!2sua!4v1530898023466" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
