<% content_for :title, "Контакты" %>

<p>
  COLObok<br>
  <a href="https://goo.gl/maps/a76QCaBwxaS2" target="_blank" rel="noopener"> Nauky Ave, 9<br>
    Kharkiv<br>
    Kharkiv Oblast</a><br>
  Tel: <a href="tel:+380671111111">(067) 111-1111</a><br>
  Fax: 067-111-1111<br>
  E-mail: <a href="mailto:info@colobok.pp.ua">info@colobok.pp.ua</a>
</p>

