<% content_for :title, "Доставка" %>
<%= image_tag "/images/delivery.jpg", size: "350x250", align:'left', hspace: '30', alt: 'Фото доставки' %>
<p>
  Запятой толку снова рукописи назад lorem он бросил меня грустный маленькая жаренные языкового прямо жизни она предупреждал, переписывается? Свою, дороге. Буквенных проектах по всей, пояс сбить имени lorem вершину домах журчит.
</p>
<p>
  Единственное силуэт использовало запятых океана курсивных пунктуация ему по всей скатился рыбными! Запятых вдали, власти. Залетают речью языкового если, они не, мир пояс последний свой океана рукописи предупреждал свою, запятых, гор.
</p>