<% content_for :title, "О нашей продукции" %>

<p>
  Я люблю наши горячие булочки! Я люблю наши горячие булочки! Я люблю наши горячие булочки! Я люблю наши горячие булочки!
</p>
<p>
  Я люблю наши горячие булочки! Я люблю наши горячие булочки! Я люблю наши горячие булочки!
</p>