<li class="">
  <%= link_to  category.name_category,
               {controller: :items,
               category_id: category.id},
               method: :get,
               :data => { :toggle => "tab" }
  %>
</li>