<% if @category_id == category.id.to_s %>
  <li class='active'>
<% else %>
  <li>
<% end %>
<%= link_to category.name_category,
            {controller: :items,
             category_id: category.id},
            method: :get,
            :data => {:toggle => "tab"}
%>
</li>