<% content_for :title, "Продукция" %>

<div class="container">
  <div class="row">

    <div class="category-tab"><!--category-tab-->

      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <% @categories.each do |category| %>
            <%= render "items/nav_category_tab", category: category %>
          <% end %>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade active in" id="tshirt">
          <% @items.each do |item| %>
            <%= render "items/product_row", i: item %>
          <% end %>
        </div>
      </div>

    </div><!--/category-tab-->

  </div>
</div>